<!-- Views/Shared/_Loading.cshtml -->
<div id="loading" style="display: none;">
    <div class="loading-wrapper">
        <img src="/images/logo/logo_dangnhap.PNG" alt="Logo" class="loading-logo">
        <div class="spinner"></div>
    </div>
</div>