@model WebsiteBanHang.Models.QLTonKho.Kho

<h2>Xóa Kho</h2>
<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="MaKho" />
    <p>Bạn có chắc chắn muốn xóa @Model.TenKho?</p>
    <button type="submit" class="btn btn-danger">Xóa</button>
</form>