@model WebsiteBanHang.Models.QuanLyBanner.BannerQuangCao
@{
    ViewData["Title"] = "Xóa Banner Quảng Cáo";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="~/css/Admin_BannerQuangCao.css">

<h2 class="content-title">Xóa Banner Quảng Cáo</h2>
<div class="form-container">
    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="MaAQC" />
        <p>Bạn có chắc chắn muốn xóa banner <strong>@Model.MoTa</strong> không?</p>
        <div class="action-bar-centered">
            <button type="submit" class="action-btn delete-btn">Xóa</button>
            <a asp-action="Index" class="action-btn cancel-btn">Hủy</a>
        </div>
    </form>
</div>