
/*Css/Admin_Index.cshtml*/
.admin-index {
    text-align: center;
}

    .admin-index h2 {
        font-size: 28px;
        font-weight: 700;
        color: #333;
        margin-bottom: 10px;
    }

.sub-text {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

    .card h4 {
        font-size: 18px;
        font-weight: 700;
        color: #333;
        margin-bottom: 10px;
    }

    .card p {
        font-size: 14px;
        color: #666;
        margin-bottom: 10px;
    }

    .card .custom-link {
        font-size: 14px;
        color: #007bff;
        text-decoration: none;
    }

        .card .custom-link:hover {
            color: #0056b3;
            text-decoration: underline;
        }
